tqdm
json-fix
transformers==4.31.0
einops
einops-exts
wandb
nltk
pandas
spacy
torchmetrics
altair
whisper
gpustat
timm
opencv-python-headless
webdataset
visual_genome
scikit-image
iterwrap==0.3.0
decord
peft
sentence-transformers
gradio
fairscale
easydict
pycocoevalcap
pyyaml_env_tag
h5py
natsort
