name: Python Lint & Formatting

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  lint_format:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: "3.10"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install pyright black==24.10.0 flake8==7.2.0 isort==6.0.1

      - name: Run lint and format
        run: |
          export IGNORE_DIRS="llava"
          npx pyright --level warning
          black --check . --line-length 110 --skip-magic-trailing-comma
          # flake8 . --ignore=E402,E731,W503,E203,F403,F405,E501 --exclude=$IGNORE_DIRS
          isort . --check-only --skip $IGNORE_DIRS --profile black
